@page "/Admin/Home"
<style>
    .container {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 70vh; /* 使容器高度占满整个视口 */
        //background-color: lightgray; /* 可选，设置背景颜色 */
    }

    .content {
        text-align: center; /* 使文字水平居中 */
    }
</style>

<PageHeader Class="site-page-header" Title="Home" Subtitle="" />

<div class="container">
    <div class="content">
        <h1>欢迎使用OCSS在线选课系统！</h1>
    </div>
</div>

@code {

}
