@page "/Admin/Teachers"

<div>
    <GridRow>
        <GridCol Span="24">
            <PageHeader Style="background-color:pink" Class="site-page-header" Title="Teacher" Subtitle="教师信息" />
        </GridCol>   
    </GridRow>
    <GridRow>
        <GridCol Span="24" Style="height:100vh;background-color:aqua">

        </GridCol>   
    </GridRow>
</div>


@code {

}
