@using Blazored.LocalStorage
@using Ui_OCSS.Infrastructure.HeartbeatService
@inherits LayoutComponentBase
@inject HeartbeatService HeartbeatService
@inject ILocalStorageService LocalStorage


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <label>当前在线人数：</label>
            <label style="color:dodgerblue">@Number</label>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>


@code{
    private string? Token { get; set; }
    public static string Number { get; set; } = "1";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Token = (await LocalStorage.GetItemAsync<string>("jwtToken"))!;
            HeartbeatService.StartPolling(Token);
        }
    }
}